@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  body * {
    visibility: hidden;
  }
  .wrapper-invoice, .wrapper-invoice * {
    visibility: visible;
  }
  .wrapper-invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  body > *:not(.wrapper-invoice) {
    display: none !important;
  }
}

body {
  padding: 20px;
  font-family: "Inter";
  background-color: #dcdcdc;
}

.btn-print{
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}


.wrapper-invoice {
  background: white;
  width: 21cm;
  height: 29.7cm;
  /* display: block; */
  margin: 0 auto;
  margin-bottom: 0.5cm;
}
.invoice-information {
  display: flex;
}
/* .information-talaadthai {
  width: 50%;
} */

.image-logo {
  width: 40%;
  text-align: right; 
}
.information-talaadthai p {
  margin-top: 10px;
  margin-left: 30px;
  /* font-size: 11px; */
}


.tables{
  width: 100%;
  margin-bottom: 7px;
  border-collapse: collapse;
}
.tables thead tr th {
  font-size: 10px;
  border: 1px solid black;
  text-align: center;
}
.tables tbody tr td {
  font-size: 10px;
}


.list-invoice{
  margin-bottom: 1vh; 
}

th, td {
  overflow: hidden; 
}

/* ลบเส้นขอบของตาราง */
.no-border-right {
  border-right: none;
}
.no-border-left {
  border-left: none;
}
.tables tbody tr td {
  text-align: left;
}

/* calculate-invoice */
.calculate-invoice{
  font-size: 12px;
}
.calculate-invoice tr {
  line-height: 0.7; 
}
.line-calculate {
  border: none; 
}
/* ส่วนลายเซน */
/* .signature-form{
  display: flex;
}
.signature p{
  display: inline;
  
}
.signature-form p {
  padding-left: 10px;
  font-size: 10px;
  text-align: left;
  display: inline;
}
.signature-container {
  display: grid;
  grid-template-columns: 20%  auto 80% ;

} */
.signature-form{
  width: 100%;
  
}
.signature-container{
  font-size: 10px;
  display: flex; 
  flex-wrap: wrap; 
}
.signature1{
  width: 8%;
  float: left;
  padding: 1px;
}
.signature2{
  width: 8%;
  float: right;
  padding: 1px;
}
.underline{
  width: 13%;
  float: left;
  padding: 2px;
}
.underlines{
  border-bottom: 1px solid  black; 
  width: 25%;
  float: left;
  padding: 2px;
}

.full-width-box {
  width: auto; 
  height: auto; 
  border: 1px solid black; 
  box-sizing: border-box; 
  margin: 20px 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-invoice {
  margin-top: 10px;
  width: 100%;
  border: 0.5px solid black; 
  box-sizing: border-box; 
  padding: 1px; 
}

.bottom-form{
  font-size: 10px;
  display: flex; 
  flex-wrap: wrap; 

}
.bottom-form1{
  width: 56%;
  float: left;
  padding: 2px;
}

.bottom-form2{
  width: 13%;
  float: left;
  padding: 2px;
}
.bottom-form3{
  width: 4%;
  float: left;
  padding: 2px;
}
.bottom-form4{
  width: 7%;
  float: left;
  padding: 2px;
}
.bottom-form5{
  width: 13%;
  float: left;
  padding: 2px;
}

.bottom-form6{
  width: 5%;
  float: left;
  padding: 2px;
}

