@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  body * {
    visibility: hidden;
  }
  .wrapper-invoice, .wrapper-invoice * {
    visibility: visible;
  }
  .wrapper-invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  body > *:not(.wrapper-invoice) {
    display: none !important;
  }
}


body {
  padding: 20px;
  /* -webkit-font-smoothing: antialiased; */
  background-color: #dcdcdc;
}
/* print button */
.btn-print{
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
}

/* table */
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

table#t01 {
  width: 100%;
  background-color: #f2f2d1;
}

.top-section table {
  border-collapse: collapse;
}

.top-section table,
.top-section th,
.top-section td {
  border: none;
}

.no-border-right {
  border-right: none;
}

.no-border-left {
  border-left: none;
}

/* invoice */

/* .wrapper-invoice {
  display: flex;
  justify-content: center;
} */

.wrapper-invoice {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

/* list */
.list-invoice {
  margin-top: 1vh;
}
.list-invoice tr{
  line-height: 1.2;
}
.list-invoice tbody tr:not(:last-child) td {
  border-top: none;
  border-bottom: none;
}
/* .title-bill th {
  text-align: center;
  background-color: rgb(238, 238, 238);
} */

.list-invoice tbody tr:last-child td {
  border-bottom: 1px solid black;
}

/* calculate-invoice */

/* .calculate-invoice{
  font-size: 10px;
} */

.calculate-invoice tr {
  line-height: 0.5; 
}
.line-calculate {
  border: none; 
}
.calculate-invoice{
  margin-top: 1vh;
}

/* sign */

.signature-form  {
  padding-left: 10px;
  font-size: 10px;
  /* text-align: left; */
  display: inline;
  width: 100%;
  margin-top: 15px;
}
.underline {
  width: 250px; 
  border-bottom: 1px solid  black; 
  margin-left: 100px;
  display: inline-block;
}
.underline-text {
  display: inline-block;
  position: relative;
  font-size: 10px; 
}

.underline-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 250px; 
  height: 1px; 
  background-color: black; 
}

/* bottom form */
.bottom-invoice {
  margin-top: 10px;
  width: 100%;
  border: 0.5px solid black; 
  box-sizing: border-box; 
  padding: 1px; 
}

.bottom-form{
  font-size: 10px;
  display: flex; 
  flex-wrap: wrap; 

}
.bottom-form1{
  width: 56%;
  float: left;
  padding: 2px;
}

.bottom-form2{
  width: 13%;
  float: left;
  padding: 2px;
}
.bottom-form3{
  width: 4%;
  float: left;
  padding: 2px;
}
.bottom-form4{
  width: 7%;
  float: left;
  padding: 2px;
}
.bottom-form5{
  width: 13%;
  float: left;
  padding: 2px;
}

.bottom-form6{
  width: 5%;
  float: left;
  padding: 2px;
}
